# Cấu hình cổng ứng dụng
PORT=3000

# Chuỗi kết nối MongoDB Atlas cho tài khoản chỉ có quyền ĐỌC (Read-Only)
MONGODB_READ_URI=mongodb+srv://<username_read>:<password>@cluster0.of2fopb.mongodb.net/DB_23IT273?retryWrites=true&w=majority

# Chuỗi kết nối MongoDB Atlas cho tài khoản có quyền GHI (Read-Write)
MONGODB_WRITE_URI=mongodb+srv://<username_write>:<password>@cluster0.of2fopb.mongodb.net/DB_23IT273?retryWrites=true&w=majority

# Khóa bí mật cho Session
SESSION_SECRET=secret_key_cloud_giuaky_23it273

# Thông tin sinh viên
STUDENT_NAME=Tiến
STUDENT_MSSV=23IT273
